{% extends 'base.html.twig' %}

{% block body %}
<h1>{{title}}</h1>
{% if age > 18 %}
<P> tu es majeur</P>
{% else %}
    <p> tu es mineur</p>
{% endif %}


    <p></p>
    <p>Tempora reiciendis corporis molestiae recusandae error voluptatibus vel ipsam beatae, necessitatibus in dolores praesentium voluptatum ratione quidem ipsum ut magni? Eligendi molestias consequatur fugit quis possimus autem neque nesciunt dolores, officia maiores aliquam quia nemo modi? Optio tempora sunt natus!</p>
{% endblock %}
