{% extends 'base.html.twig' %}
{% block body %}

    <table>
        <tbody>
            <tr>
                <td>
{{form_start(frmDecaisser)}}
                   {{form_widget(frmDecaisser)}} 
                   {{form_end(frmDecaisser)}}
                   

                </td>
                <td>
                <h3>Les paiement des OP
                    </h3>
                    <table class="table table-hover">
                        <thead>
                            <tr class="table-primary">
                                <th scope="col">ID</th>
                                <th scope="col">Bénéficiaire</th>
                                <th scope="col">Service</th>
                                <th scope="col">Date émission</th>
                                <th scope="col">Ligne de depense</th>
                                <th scope="col">Montant OP</th>
                                <th scope="col">Déjà décaisser</th>
                                <th scope="col">Solde</th>
                                <th scope="col">Décaisser</th>

                            </tr>
                        </thead>
                        <tbody>
                            {% set numDepense = 0 %}
                         
                        
                                <tr>
                                    <th scope="row">
                                        {% set numDepense = numDepense + 1 %}
                                        {{ numDepense }}
                                    </th>
                                    <td> </td>
                                   
                                    
                                </tr>
                           
                            <tr class="table-primary">
                                <th scope="row"></th>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td>
                                  
                                </td>
                                <td>
                                   
                                </td>
                                <td>
                                   
                                </td>
                                <td>
                                
                                </td>
                            </tr>

                        </tbody>
                    </table>

                </td>
            </tr>
            <tr>
                <td></td>
                <td>

                    <td></td>
                </td>
            </tr>

        </tbody>
    </table>

{% endblock %}